*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   font-family:'Manrope', sans-serif;
   /* background: black; */
}
main{
    border: 2px solid hsl(210, 46%, 95%);
    background-color: hsl(210, 46%, 95%) ; 
}
.main-container{
display: flex;
/* border: 2px solid black; */
height: 300px;
width: 800px;
margin: 200px auto;
background-color: white ; 

}
.drawer-image{
width: 320px;
height: 300px;
}
.content{
    padding: 20px;
   /* text-align: center; */
}
h1{
font-size: 20px;
letter-spacing: 2px;
line-height: 1.8rem;
color:  hsl(217, 19%, 35%);

}
.content
p{
    font-size: medium;
    line-height: 1.5rem;
    color: hsl(214, 17%, 51%);
    padding-top: 20px;
}
footer{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.writer{
    display: flex;
    align-items: center;
    gap: 15px;
}
.writer-img{
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
}
.writer-name{
    display: flex;
    flex-direction: column;
}
span{
    color: hsl(212, 23%, 69%);
}
.share-icon{
    position: relative;
    left: 150px;
    /* margin-top:-10rem; */
    background-color: hsl(211, 19%, 76%);
    padding: 10px 10px;
    border-radius: 50%;
}
.social-icons{
  background-color: hsl(217, 19%, 35%);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
 /* border: 2px solid black; */
 width: 8rem;
 height: 1.5rem;
  margin-top:-4rem;
  
} 
.share{
    color: hsl(214, 17%, 51%);
    letter-spacing: 1.5px;
    font-size: 12px;
}
.hide{
    display: none;
}
@media screen and (max-width: 600px) {
    .main-container{
        display: flex;
        flex-direction: column;
        height: 750px;
        width: 480px;
        margin: 200px auto;
    }
    .drawer-image{
        width: 480px;
        height: 400px;
        }
    .content{
        padding: 40px 40px;
            
        }
     .content
p{
  align-items: center;
    padding-top: 10px;
}
/* .share-icon{
    position: relative;
    left: 100px;
} */
footer{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.share-icon{
    position: relative;
    left: 150px;
    /* margin-top:-10rem; */
    background-color: hsl(211, 19%, 76%);
    padding: 10px 10px;
    border-radius: 50%;
}
.social-icons{
  background-color: hsl(217, 19%, 35%);
  color: white;
  display: flex;
  align-items: center;
  /* justify-self: center; */
  gap: 10px;
 /* border: 2px solid black; */
 /* justify-self: self-start; */
 width: 8rem;
 height: 1.5rem;
  margin-top: 7.5rem;
  /* padding-right: ; */
  padding: 20px 240px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: -15.3rem;
} 
.hide{
    display: none;
}
}